<!--<div>
  <p *ngFor="let user of listUsuarios">
    {{user.nombre}}--{{user.estado}} - {{user.edad}}
  </p>
</div>

<figure>
  <img [src]="imagenURL" alt="">
</figure>

<button class="shadownBtn" [class.activo]="activedButton" (click)="desactivarBoton(true)" [disabled]="activedButton"> Boton prueba</button>

<button (mouseover)="mostrarEvento($event)" (keyup.enter)="mostrarEvento($event)" (click)="desactivarBoton(true)" [style.backgroundColor]="activedButton ? 'green': 'blue'">Over</button>
-->
<router-outlet></router-outlet>
